.formContainer {
    background-color: rgb(84, 151, 209);
    display: flex;
    flex-direction: row;
    width: 383px;
    height: 46px;
    border: 1px solid rgb(0, 1, 80);
    border-radius: 6px;
    align-items: center;
    
}
.formContainer label {
    color: rgba(4, 4, 4, 0.867);
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.formContainer input {
    background-color: rgba(208, 208, 208, 0.588);
    width: 200px;
    height: 30px;
    font-size: 22px;
    position: absolute;
    left: 175px;
    border-radius: 6px;
}
.divForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.divContainer {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 384px;
    height: 700px;
    
    /* background-color: bisque; */
}
.selectTemps {
    background-color: rgba(167, 167, 167, 0.616);
    display: flex;
    width: 10cm;
    font-size: 22px;
    border-radius: 5px;
    position: relative;
    left: 430px;
    bottom: 440px;
}
.tempsSelected {
    /* background-color: rgba(57, 129, 129, 0.536); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 850px;
    height: 8cm ;
    position: relative;
    left: 420px;
    bottom: 415px;
}
.divTemps {
    background: linear-gradient(90deg, #010a47bd 15%, #005a96af 45%,#009ad7ac 65%, #cdf5ffbc 100%, #eaf5ffc7 100%);
    height: 20px;
    width: 160px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divTemps button {
    background-color: rgba(210, 1, 1, 0.484);
    border-radius: 3px;
    border: 1px solid black;
}
.spanTemps {
    color: white;
    font-family: cursive;
    font-size: 18px;
}
.buttonBack {
    border-radius: 4px;
    position: relative;
    right: 740px;
    bottom: 50px;
}
.Link :hover {
    background-color: rgba(69, 242, 11, 0.803);
}
